nav.navbar
  ul.nav-list
    li
      a(href='/') Home
    li
      a(href='/about') About
    li
      a(href='/products') Products
    li
      a(href='/contact') Contact
    //- Dynamic links from a passed-in array
    each link in links
      li
        a(href=link.href)= link.text
