extends ./partials/layout

block content
  .about-section
    h2 About AceKreme Inc.
    p
      | At AceKreme Inc., we specialize in providing high-quality beds designed for ultimate comfort and style. Our commitment is to deliver exceptional products and customer service that ensure a restful night's sleep.