extends ./partials/layout

block content
  .contact-section
    h2 Contact Us
    form(action="/contact" method="POST")
      .form-group
        label(for="name") Name:
        input(type="text" name="name" id="name" required)
      .form-group
        label(for="email") Email:
        input(type="email" name="email" id="email" required)
      .form-group
        label(for="phone") Phone:
        input(type="number" name="phone" id="phone" required)
      .form-group
        label(for="message") Message:
        textarea(name="message" id="message" rows="4" required)
      button(type="submit") Send Message